.stickynotefield
{
	width: 100%;
	height: auto;
	background-color: #cccccc;

}

.stickynote
{
	position: relative;
	display: inline-block;
	margin: 5px 0 5px 0;
}

.stickynotefield .stickynote{
	width: 23.5%;
}

.list .card{
	width: 100%;
}

.ml-2, .mx-2 {
	margin-left: 0!important;
}

.stickynotefield .stickynote .delnote
{
	display:none;
}


.delnote
{
	margin-top:5px;
	position: absolute;
	width: 20px;
	height:20px;
	top:0;
	right:0;
	background-image: url("images/minus.png");
	background-repeat: no-repeat;
}

.delnote:hover
{
	margin-top:5px;
	cursor: pointer;
	background-image: url("images/minushover.png");
	background-repeat: no-repeat;
}

textarea
{
	width: 100%;
	height: auto;
	background-color: transparent;
	border: none;
	text-align: left;
	vertical-align: text-top;
	resize: none;
	overflow: hidden;
}

textarea:focus
{

	background-color: transparent;
	outline: none;
	text-align: left;
	vertical-align: text-top;
	resize: none;
	overflow: hidden;
}

footer
{
	position: relative;
}

@media only screen and (max-width: 575px) {
	.stickynotefield .stickynote{
		width: 100%;
	}
}



