.column
{
    background-color: rgb(70,83,98);
    min-width: 200px;
    margin: 2px;
    float: left;
    border-radius: 20px;
    position: relative;
}

.xbutton{
    width: 20px;
    height: 20px;
    background-image: url("../img/x.png");
    background-repeat:no-repeat;
    background-size: 20px 20px;
    position: absolute;
    top: -5px;
    left: calc(100% - 20px);

}

.xbutton:hover{
    transform: rotate(180deg);
    transition-duration: 1s;
    cursor: pointer;
}

.wiplimitfield{
    width: 27px;
    height: 27px;
    /*background-color: rgb(255, 255, 128);*/
    border: 2px solid rgb(70,83,98);
    background-size: 20px 20px;
    position: absolute;
    left: calc(50% - 8px);
    top: -12px;
    border-radius: 5px;
    text-align: center;
}

.infofield{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/info.png");
    background-repeat:no-repeat;
    background-size: 20px 20px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 5px;
    cursor: pointer;
}

.addnotebutton{
    width: calc(100% - 20px);
    height: 40px;
    background-color: rgb(255, 255, 128);
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
    transition-duration: 0.5s;
}

.padding{
    

}

.addnotebutton:hover{
    transform: scale(1.05);
}