.content{
    width: calc(100% - 1px);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: left 1s ease-out;
}

.content.pushed {
    left: 215px;
  }

.steericon{
    cursor: pointer;
    width: auto;
    display: inline-block;
    margin-left: 20px;
    margin-top: 5px;
    transition-duration: 0.5s;
    position: relative;
}

.steericon:hover{
    transform: rotate(8deg) scale(1.05);
}
.box{
    transition: 0.1s;
}
.box:active{
    transform: rotate(360deg);
}

.headertext{
    font-family: 'Courgette', cursive;
    color: black;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
}

.uniteam{
    
    display: inline-block;
    margin-left: 50px;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    height: 10px;
    vertical-align: text-bottom;
}

