.content{
    width: calc(100% - 1px);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: left 1s ease-out;
}

.content.pushed {
    left: 215px;
  }



.slidemenu{
    background-color: white;
    display: none;
}

.steericon{
    cursor: pointer;
    width: 40px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 5px;
    transition-duration: 0.5s;
    position: relative;
}

.steericon:hover{
    transform: rotate(5deg) scale(1.05);
}