.note
{
    width: calc(100% - 20px);
    height: auto;

    margin: 10px;
    position: relative;

}

.colorcircle
{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: 1px solid lightgray;
    float: left;
    margin: 1px;
    transition: transform .2s;
}

.colorcircle:hover
{
    transform: scale(1.1);
}

.y
{
    background-color: rgb(255, 255, 128);
}

.b
{
   background-color: rgb(128, 191, 255);
}

.g
{
    background-color: rgb(204, 255, 179);
}

textarea{
    margin-top: 10px;
    resize: none;

}

.react-contextmenu {
    width: 120px;
    height: 50px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 16px;
    color: #373a3c;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease !important;
}