.note
{
    width: 177px;
    height: auto;
    margin: 10px;
    position: relative;
}

.disable
{
    filter: opacity(60%);
}

.colorcircle
{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: 1px solid lightgray;
    float: right;
    margin: 1px;
    transition: transform .2s;
}

.colorcircle:hover
{
    transform: scale(1.1);
    cursor: pointer;
}

.y
{
    background-color: rgb(255, 255, 128);
}

.b
{
   background-color: rgb(128, 191, 255);
}

.g
{
    background-color: rgb(204, 255, 179);
}

textarea{
    margin-top: 10px;
    resize: none;

}

.react-contextmenu {
    z-index: 10;
    width: 150px;
    background-color: gray;
    height: auto;
    
    
}

.react-contextmenu-item
{
    height: 35px;
    cursor: pointer;
    background-color: white;
    color: black;
    vertical-align: middle;
    line-height: 32px;
    padding-left: 5px;
    border-bottom: 1px solid gray;

    
}

.react-contextmenu-item:hover
{
    background-color: #D3D3D3;
}