.columnfield
{
    padding-top: 10px;
    height: auto;
    overflow-x: auto;
    white-space: nowrap;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(156, 163, 173);
    border-radius: 3px;
  }

.addcolumnfield
{
    background-color: rgb(70,83,98);
    width: 200px;
    height: 50px;
    float: left;
    margin: 15px;
    border-radius: 20px;
}

input
{
    width: 150px;
    height: 20px;
}

button
{
    cursor: pointer;
}

.Collapsible{
    background-color: #ffffe6;
    
}